<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muneer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Covid19Activity"
            android:label="COVID-19"
            ></activity>
        <activity
            android:name=".DiseasDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detailview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hospitals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainChatActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginChatActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterChatActivity"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhoneOtpAuth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nav_Bottom"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".Account"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginFragment"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationFragment"
            android:alwaysRetainTaskState="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>